<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2592.51" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net48" />
  <package id="NModbus4" version="2.1.0" targetFramework="net48" />
</packages>